<div class="container">
    <div class="row equal">
        <div class="row">
            <div class="column">
                <img class="java-logo-img" [src]="'assets/images/java_logo_9.png'" alt="Java"
                    [routerLink]="['/compiler/java']" routerLinkActive="mat-accent">
            </div>
        </div>
        <div class="column-groovy">
            <img class="groovy-logo-img" [src]="'assets/images/groovy_logo.png'" alt="Groovy"
            [routerLink]="['/compiler/groovy']" routerLinkActive="mat-accent">
        </div>
    </div>
</div>