

<div class="grid-wrapper">
<br>

    <table mat-table [dataSource]="dataSource" 
        class="mat-elevation-z8" 
        *ngIf="exercisesSimpleView">

      <ng-container matColumnDef="exerciseNumber" class="exercise-number-column">
        <th mat-header-cell *matHeaderCellDef class="exercise-number-column"> Numer zadania </th>
        <td mat-cell *matCellDef="let element" class="exercise-number-column"> {{element.exerciseNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="exerciseQuestion" class="exercise-question-column">
        <th mat-header-cell *matHeaderCellDef class="exercise-question-column"> Treść zadania </th>
        <td mat-cell *matCellDef="let element" class="exercise-question-column"> {{element.exerciseQuestion}} </td>
      </ng-container>
  
      <ng-container matColumnDef="exerciseClick" class="exercise-click-column">
        <th mat-header-cell *matHeaderCellDef class="exercise-click-column"> </th>
        <td mat-cell *matCellDef="let element" class="exercise-click-column"> </td>
      </ng-container>

      <ng-container matColumnDef="btnCheck" class="exercise-btn-column">
        <th mat-header-cell *matHeaderCellDef class="exercise-btn-column">  </th>
        <td mat-cell *matCellDef="let element" class="exercise-btn-column">
            <button mat-raised-button color="accent" type="button" class="btn-go-to-Answers" (click)="goIntoAnswers(element.idExercise, element.exerciseQuestion)" >
                Rozwiązania studentów
            </button>
        </td>
      </ng-container>

      <!--<ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Nauczyciel </th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.teacher" (click)="checkTeacher(element, element.teacher)"></mat-checkbox>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row [ngClass]="{'make-gold': row.exerciseClick == true}" *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="exercise-question-menu">
  <div class="question-container">
    <mat-form-field class="question" appearance="outline">
      <mat-label>Treść zadania</mat-label>
      <textarea class="question" matInput [formControl]="question" required></textarea>
    </mat-form-field>
  </div>

  <button mat-raised-button color="accent" (click)="addExercise()" class="add-question-btn">
    Dodaj zadanie
  </button>
</div>

<div class="end-exercise-window">
    <button mat-raised-button color="warn" type="button" class="btn-end-adding" (click)="closeWindowExercises()">
        Zamknij okno z zadaniami
    </button>
</div>